# Для работы с Selenium
selenium==4.15.0

# Для подключения к базе данных (выбери нужный драйвер в зависимости от типа БД)
# PostgreSQL
psycopg2-binary==2.9.9

# ORM (выбери один из вариантов)
# SQLAlchemy (универсальный ORM)
SQLAlchemy==2.0.23

# Дополнительные зависимости (если нужны)
# Для работы с переменными окружения
python-dotenv==1.0.0

# Для парсинга HTML
beautifulsoup4==4.12.3
lxml==5.1.0  # Быстрый и удобный парсер