# Для подключения к базе данных (выбери нужный драйвер в зависимости от типа БД)
# PostgreSQL
psycopg2-binary==2.9.10

# ORM (выбери один из вариантов)
# SQLAlchemy (универсальный ORM)
SQLAlchemy==2.0.37

# Дополнительные зависимости (если нужны)
# Для работы с переменными окружения
python-dotenv==1.0.1

# Для парсинга HTML
beautifulsoup4==4.12.3
lxml==5.3.0  # Быстрый и удобный парсер

requests==2.32.3

pytest==8.3.4
requests-mock==1.12.1